# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GamePickle.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Irem\Desktop\UnityProjects\GamePickle\.idea\.idea.GamePickle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
